<!DOCTYPE html>
<html>
  <head>
    <title>사람인-잡코리아-IT직업찾기</title>
  </head>
  <body>
    <h1>사람인-잡코리아-IT직업찾기</h1>
    <form action="/report" method="get">
      <button type="submit" name="word" value="C">C</button>
      <button type="submit" name="word" value="C++">C++</button>
      <button type="submit" name="word" value="C#">C#</button>
      <button type="submit" name="word" value="Java">Java</button>
      <button type="submit" name="word" value="Python">Python</button>
    </form>
  </body>
</html>
